<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>Result</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
            <h1 class="display-1 fw-bold text-white">Something went wrong!</h1>
            <span>Please go back to the <a th:href="@{/home}">Home</a> page.</span>
        </div>
    </body>
</html>