<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDD</title>
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/css/home.css}">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="bi me-2" th:src="@{~/images/cloud-storage.svg}" alt="" width="40" height="32">
            <span class="fs-4">Super Duper Drive</span>
        </a>

        <div class="col-md-3 text-end">
            <a href="#" class="nav-link link-primary" id="logout" th:href="@{/login?logout}"><strong>Logout</strong></a>
        </div>
    </header>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link"  th:classappend="${tabActive}=='Files' ? 'active' : ''" id="nav-files-tab" data-bs-toggle="tab" data-bs-target="#nav-files"
                    type="button" role="tab" aria-controls="nav-files" aria-selected="true">Files
            </button>
            <button class="nav-link" th:classappend="${tabActive}=='Notes' ? 'active' : ''" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button"
                    role="tab" aria-controls="nav-notes" aria-selected="false">Notes
            </button>
            <button class="nav-link" th:classappend="${tabActive}=='Credentials' ? 'active' : ''" id="nav-credentials-tab" data-bs-toggle="tab" data-bs-target="#nav-credentials"
                    type="button" role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials
            </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" th:classappend="${tabActive}=='Files' ? 'show active' : ''" id="nav-files" role="tabpanel" aria-labelledby="nav-files-tab"
             tabindex="0">
            <form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
                <div class="mt-3 mb-3 text-end">
                    <input type="file" name="file-new" id="file-new">
                    <input class="btn btn-primary" type="submit" value="Upload" id="file-upload" name="file-upload">
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">File Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${fileList}">
                    <th scope="row">
                        <form action="#" th:action="@{/downloadFile}" method="post">
                            <input type="hidden" th:value="${file.fileId}" name="file-list-view-id"
                                   id="file-list-view-id">
                            <input class="btn btn-success" type="submit" id="file-list-view" name="file-list-view"
                                   value="View">
                        </form>
                        <form action="#" th:action="@{/deleteFile}" method="post">
                            <input type="hidden" th:value="${file.fileId}" name="file-list-delete-id"
                                   id="file-list-delete-id">
                            <input class="btn btn-danger" type="submit" id="file-list-delete" name="file-list-delete"
                                   value="Delete">
                        </form>
                    </th>
                    <td id="file-list-name" th:text="${file.fileName}">MyBestPic.png</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" th:classappend="${tabActive}=='Notes' ? 'show active' : ''" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab" tabindex="0">
            <div class="text-end">
                <button type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal"
                        data-bs-target="#notesModal" id="note-new" name="note-new">
                    + Add a New Note
                </button>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="note : ${noteList}">
                    <th scope="row">
                        <form action="#" th:action="@{/editNote}" method="post">
                            <input type="hidden" th:value="${note.noteId}" name="note-list-edit-id"
                                   id="note-list-edit-id">
                            <input class="btn btn-success" type="submit" id="note-list-edit" name="note-list-edit"
                                   value="Edit">
                        </form>
                        <form action="#" th:action="@{/deleteNote}" method="post">
                            <input type="hidden" th:value="${note.noteId}" name="note-list-delete-id"
                                   id="note-list-delete-id">
                            <input class="btn btn-danger" type="submit" id="note-list-delete" name="note-list-delete"
                                   value="Delete">
                        </form>
                    </th>
                    <td id="note-list-title" th:text="${note.title}">The Title</td>
                    <td id="note-list-description" th:text="${note.description}">A great description.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" th:classappend="${tabActive}=='Credentials' ? 'show active' : ''"  id="nav-credentials" role="tabpanel" aria-labelledby="nav-credentials-tab"
             tabindex="0">
            <div class="text-end">
                <button type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal"
                        data-bs-target="#credentialsModal" id="credential-new" name="credential-new">
                    + Add a New Credential
                </button>
            </div>
            <table class="table table-striped" th:object="${credentialList}">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">URL</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="credential : ${credentialList}">
                    <th scope="row">
                        <!-- Button trigger modal -->
                        <form action="#" th:action="@{/editCredential}" method="post">
                            <input type="hidden" th:value="${credential.credentialId}" name="credential-list-edit-id"
                                   id="credential-list-edit-id">
                            <input class="btn btn-success" type="submit" id="credential-list-edit"
                                   name="credential-list-edit" value="Edit">
                        </form>
                        <form action="#" th:action="@{/deleteCredential}" method="post">
                            <input type="hidden" th:value="${credential.credentialId}" name="credential-list-delete-id"
                                   id="credential-list-delete-id">
                            <input class="btn btn-danger" type="submit" id="credential-list-delete"
                                   name="credential-list-delete" value="Delete">
                        </form>
                    </th>
                    <td id="credential-list-url" th:text="${credential.url}">http://localhost:8080/login</td>
                    <td id="credential-list-username" th:text="${credential.username}">rmmcosta</td>
                    <td id="credential-list-password" th:text="${credential.password}">7FRGNTHTJDFJASKJ3784374==</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Notes Modal -->
<div class="modal fade mt-5" th:classappend="${noteForm.noteId ne null} ? 'show':''" id="notesModal" tabindex="-1" aria-labelledby="notesModalLabel"
     th:attr="aria-hidden=${noteForm.noteId ne null} ? 'false' : 'true', aria-modal=${noteForm.noteId ne null} ? 'true' : 'false', role=${noteForm.noteId ne null} ? 'dialog' : ''"
     th:style="${noteForm.noteId ne null} ? 'display: block;' : ''"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="notesModalLabel">Note</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{/newNote}" th:object="${noteForm}">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="note-id" th:field="*{noteId}">
                    <div class="mb-3">
                        <label for="note-title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="note-title" th:field="*{title}">
                    </div>
                    <div class="mb-3">
                        <label for="note-description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="note-description" th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="note-save">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Credentials Modal -->
<div class="modal fade mt-5" th:classappend="${credentialForm.credentialId ne null} ? 'show':''" id="credentialsModal" tabindex="-1" aria-labelledby="credentialsModalLabel"
     th:attr="aria-hidden=${credentialForm.credentialId ne null} ? 'false' : 'true', aria-modal=${credentialForm.credentialId ne null} ? 'true' : 'false', role=${credentialForm.credentialId ne null} ? 'dialog' : ''"
     th:style="${credentialForm.credentialId ne null} ? 'display: block;' : ''"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="credentialsModalLabel">Credential</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" th:action="@{/newCredential}" th:object="${credentialForm}">
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="credential-id" th:field="*{credentialId}">
                    <div class="mb-3">
                        <label for="credential-url" class="col-form-label">URL:</label>
                        <input type="text" class="form-control" id="credential-url" th:field="*{url}">
                    </div>
                    <div class="mb-3">
                        <label for="credential-username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" id="credential-username" th:field="*{username}"></input>
                    </div>
                    <div class="mb-3">
                        <label for="credential-password" class="col-form-label">Password:</label>
                        <input type="text" class="form-control" id="credential-password" th:field="*{password}"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="credential-save">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script th:src="@{~/js/bootstrap.bundle.min.js}" defer></script>
<script th:src="@{~/js/home.js}" defer></script>
</body>
</html>