<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SDD</title>
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/css/login.css}">
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form method="post" th:action="@{/login}" th:object="${user}">
        <img class="mb-4" th:src="@{~/images/cloud-storage.svg}" alt="" width="125" height="99">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" th:field="*{username}">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" th:field="*{password}">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="mb-2 w-100 btn btn-lg btn-primary" type="submit" id="login">Sign in</button>
        <a href="#" th:href="@{/signup}" id="signup">Sign Up</a>
        <p class="mt-5 mb-3 text-muted">&copy; TheSoftWebArchitect - 2022</p>
    </form>
</main>
<script th:src="@{~/js/bootstrap.bundle.min.js}" defer></script>
</body>
</body>
</html>